//box-shadow
@mixin box-shadow($left, $top, $radius, $color) {
    box-shadow: $left $top $radius $color;
    -webkit-box-shadow: $left $top $radius $color;
    -moz-box-shadow: $left $top $radius $color;
}

//transition
@mixin transition($property, $duration, $easing: linear) {
    transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
}

//border-radius
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}


/*asif*/

@mixin opacity($value) {
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}


/*asif end*/

//input-placeholder 
@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin media($point) {
    @if $point==mobile {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $point==smallScreen {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point==mdMobile {
        @media (max-width: 568px) {
            @content;
        }
    }
    @else if $point==smallMobile {
        @media (max-width: 400px) {
            @content;
        }
    }
    @else if $point==only-tab {
        @media (max-width: 1024px) and (min-width: 768px) {
            @content;
        }
    }
}

//vw calculator
@function get-vw($target) {
    $vw-context: (1280*.01) * 1px;
    $test: ($target/$vw-context) * 1vw;
    @return $test;
}