/* colors */

// $clr-white:#ffffff;
// $clr-black:#000000;
// $clr-default:#3aae97;
// $clr-base: #040404;
// $clr-base-light: #868e9c;
$clr-white:#ffffff;
$clr-black:#000000;
$clr-default:#3aae97;
$clr-base: #040404;
$clr-base-light: #727781;
// $clr-base: #17191d;
// $clr-base-light: #727781;

/*font family*/

$font-regular:400;
$font-light:300;
$font-medium:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */

$mobile-breakpoint: 768px;
$desktop-breakpoint-sm:1024px;
// $desktop-breakpoint-md:1366px;
$desktop-breakpoint-md:1440px;
$desktop-breakpoint-lg:1920px;