html {
    font-size: 10px;
}

body {
    font-family: $font;
    background: $clr-white;
    font-size: 1.6rem;
    letter-spacing: 0px;
    overflow-x: hidden !important;
    width: 100%;
    color: $clr-base-light;
}

img {
    width: 100%
}

a {
    &:hover {
        text-decoration: none;
        color: $clr-default;
    }
}

.main {
    width: 100%;
    overflow-x: hidden;
}

.cm-line-break {
    display: block;
}

.set-bg {
    background-size: cover;
    .fetch-img-src {
        display: none;
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 20;
    }
}

.hide-desktop {
    display: none;
}

.hidden-md {
    display: none !important;
}

.container {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

// @media screen and (min-width:400px) and (max-width:568px) {
//     html {
//         font-size: 12px;
//     }
// }