.comp-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    max-width: 850px;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 20;
        transform: translateY(-50%) scale(1);
    }
    .card {
        padding: 8rem 5rem;
        text-align: center;
    }
    .title {
        font-size: 3rem;
        font-weight: $font-bold;
    }
    .desc {
        padding-top: .6rem;
    }
    .btn-wrap {
        &:first-of-type {
            padding-top: 3rem;
        }
        &:last-of-type {
            padding: 1.5rem 0 0;
        }
    }
    // .modal-close {
    //     position: absolute;
    //     right: 2rem;
    //     top: 2rem;
    //     display: inline-block;
    //     z-index: 10;
    //     font-size: 2rem;
    //     padding: 0 1rem;
    // }
}