.comp-section {
    //margin: 2.5rem 0 0;
    padding: 5rem 0;

    .title-wrap {
        // padding-bottom: 1.5rem;
        // border-bottom: 1px solid #d1d1d1;
        opacity: 0.5;

        .title {
            font-size: 2rem;
            font-weight: $font-medium;
            color: $clr-base;
        }

        +.cont-wrap {
            margin-top: 2.5rem;
        }
    }

    .step-count {
        background: $clr-black;
        color: $clr-white;
        display: inline-block;
        width: 40px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        margin-right: 8px;
    }

    &.theme-dark {
        background: #f8f8f8;
    }

    .js-option-list {
        display: none;
    }

    .btn-wrap {
        text-align: center;
        margin-top: 2rem;
    }

    .cont-wrap {
        display: none;
    }

    &.active {
        .title-wrap {
            opacity: 1;
        }

        .cont-wrap {
            display: block;
        }
    }

    &.complete {
        .title-wrap {
            cursor: pointer;
            opacity: 1;

            .title {
                color: $clr-default;
            }

            .step-count {
                background: $clr-default;
                color: $clr-white;
            }
        }
    }
}

input,
textarea {
    background: transparent;
}