.bootstrap-form {
    padding: 2.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, .12);
    .form-title {
        font-weight: $font-medium;
        color: $clr-black;
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: 2rem;
        .error-msg {
            margin-left: 1rem;
        }
    }
    .error-msg {
        display: inline-block;
        font-size: 1.2rem;
        vertical-align: middle;
        color: red;
    }
    .invalid-cred {
        display: none;
        &.active {
            display: block;
        }
    }
    .form-group {
        margin-bottom: 2.8rem;
        label {
            margin-bottom: 0.8rem;
            font-size: 1.5rem;
            color: #999;
            .note {
                font-size: 1.3rem;
                color: $clr-default;
            }
        }
        .form-control {
            padding: 0.8rem 0;
            font-size: 1.5rem;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid #e1e1e1;
            background: transparent;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .checkbox-group {
        margin-top: 2rem;
        .form-group {
            margin-bottom: 1.8rem;
            label {
                text-transform: capitalize;
            }
        }
    }
}

[type='checkbox'] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    +label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        &:after {
            content: "";
            width: 21px;
            height: 21px;
            position: absolute;
            left: 0;
            transition: all 0.3s ease;
            border: 1px solid #999;
        }
        &:before {
            content: "";
            width: 12px;
            height: 7px;
            position: absolute;
            left: 4px;
            transform: rotate(-45deg) scale(0.1);
            transition: all 0.3s ease;
            top: 5px;
            border-bottom: 2px solid $clr-white;
            border-left: 2px solid $clr-white;
            opacity: 0;
        }
    }
    &:checked {
        +label {
            color: $clr-black;
            transition: all 0.3s ease;
            &:after {
                border-color: $clr-black;
                background: $clr-black;
            }
            &:before {
                opacity: 1;
                z-index: 1;
                transform: rotate(-45deg) scale(1);
            }
        }
    }
}

[type='radio'] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    +label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        &:after {
            content: "";
            width: 21px;
            height: 21px;
            position: absolute;
            left: 0;
            transition: all 0.3s ease;
            border: 1px solid #999;
            border-radius: 50%;
        }
        &:before {
            content: "";
            width: 17px;
            height: 17px;
            position: absolute;
            left: 2px;
            transform: scale(0.1);
            transition: all 0.3s ease;
            border-radius: 50%;
            top: 2px;
            border: 3px solid $clr-white;
            opacity: 0;
        }
    }
    &:checked {
        +label {
            color: $clr-black;
            transition: all 0.3s ease;
            &:after {
                border-color: $clr-black;
                background: $clr-black;
            }
            &:before {
                opacity: 1;
                z-index: 1;
                transform: scale(1);
            }
        }
    }
}

.btn {
    background: $clr-base;
    border: 0;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    min-width: 120px;
    text-align: center;
    letter-spacing: 1px;
    &:hover,
    &:active {
        background: $clr-default;
    }
    &.btn-primary {
        &:focus,
        &:hover,
        &:active,
        &.active.focus,
        &.active:focus,
        &.focus,
        &.focus:active,
        &:active:focus {
            box-shadow: none;
        }
        &:active,
        &:hover {
            background: $clr-default;
        }
    }
    &.btn-link {
        background: transparent;
        border: 0;
        color: $clr-black;
        padding: 1rem;
        min-width: 0;
    }
}