<div class="container">
    <div class="logo">
        <h1>
            <a href="home.shtml">
                <img src="assets/images/logo.svg" alt="boilerplate" name="boilerplate" class="">
            </a>
        </h1>
    </div>
</div>