<!-- build:js assets/js/vendor.js -->
<script src="assets/js/libraries/jquery.js"></script>
<script src="assets/js/libraries/validate.min.js"></script>
<!-- endbuild -->

<script src="assets/js/custom.js"></script>