<div class="overlay"></div>
<div class="comp-popup">
    <div class="popup-wrap" data-pcontent="profile-1">
        <div class="popup-head">
            <span class="close icon-close"></span>
        </div>
        <div class="popup-cont">
            <iframe width="" height="315" src="https://www.youtube.com/embed/a3ICNMQW7Ok"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>